@model Portal.Models.PackageViewModel;


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
      <h1>Pakketten</h1>
    <style>
        .align-right {
            text-align: right !important;
        }
    </style>
    
    @foreach (var package in Model.Packages)
    {

        <div class="card mb-3" onclick="location.href='@Url.Action("reservePackage", "package",new { packageId = package.Id })';" style="cursor: pointer;">
            <img class="card-img-top cropped-image" src="../images/packageImage.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@package.Name</h5>
            <p class="card-text">prijs: €@package.Price</p>
                <p class="card-text">locatie: @package.City, @package.Canteen</p>
                <p class="card-text">Meal: @package.Meal</p>


                <form asp-controller="Package" asp-action="ReservePackage" method="post" class="m-2">
            <p class="align-right">datum ophalen: @package.RetrieveDate</p>
                    <button type="submit" class="btn btn-primary mt-3">Register</button>

                </form>
        </div>
    </div>
        
    }

    
</body>
</html>
  
