@model Portal.Models.PackageViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/images/EcoPlatesIcon.png"/>
</head>
<body>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="~/images/NieuweLogoWithoutLetters.png" width="120" height="120" class="d-inline-block align-top rounded-circle" alt="">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Package" asp-action="ReservationPackages">Gereserveerde Pakketten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Package" asp-action="PackageList">Pakketten Lijst</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kantine's
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                        @foreach (var canteen in Model.Canteens)
                        {
                            <a class="dropdown-item" asp-controller="Package" asp-action="CanteenList" asp-route-canteenId="@canteen.Id">@canteen.LocationName</a>

                        }
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" asp-controller="Package" asp-action="CreatePackage">Maak pakket aan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Log uit</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Pakketten</h1>
    <style>
        .align-right {
            text-align: right !important;
        }
    </style>

    @foreach (var package in Model.Packages)
    {

        <div class="card mb-3" onclick="location.href='@Url.Action("reservePackage", "package",new { packageId = package.Id })';" style="cursor: pointer;">
            <img class="card-img-top cropped-image" src="../images/packageImage.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@package.Name</h5>
                <p class="card-text">prijs: €@package.Price</p>
                <p class="card-text">locatie: @package.City, @package.Canteen</p>
                <p class="card-text">Meal: @package.Meal</p>
            </div>
        </div>

    }


</body>
</html>


